footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 244, 244);
    color: rgb(253, 0, 156);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.landingimg{
    background-size: 100svh;
    background-position: center;
    background-size:cover;
    width: 100%;
  }


.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
padding:0;
margin:0;
}
.imageLanding{
  background-image: url('https://i.postimg.cc/qRw5xJ7C/man-and-a-woman-wear.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}
.navshadow{
  box-shadow: 0 2px 4px rgba(0,0,0.1);
}
